.button {
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0, 0, 5);
    -fx-background-color: #393E46;
    -fx-background-radius: 30px;
    -fx-text-fill: #00ADB5;
}

.label {
    -fx-text-fill: #00ADB5;
}

.root-pane {
    -fx-background-color: #222831;
}

.button:hover {
    -fx-opacity: 0.9;
    -fx-background-color: #31353b;
}

.button:pressed {
    -fx-translate-y: 2px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 5, 0, 0, 2);
}

.danger-btn:hover {
    -fx-background-color: #F44336;
    -fx-text-fill: black;
}

.edit-btn:hover {
    -fx-background-color: #1565C0;
    -fx-text-fill: white;
}

.add-btn:hover {
    -fx-background-color: green;
    -fx-text-fill: white;
}

.warning-text{
    -fx-text-fill: red;
}

.selectable-text{
    -fx-text-fill: #00ADB5;
    -fx-background-color: none;
}
