.button {
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0, 0, 5);
    -fx-background-color: #393E46;
    -fx-background-radius: 30px;
    -fx-text-fill: #00ADB5;
}

.label {
    -fx-text-fill: #00ADB5;
}

.root-pane {
    -fx-background-color: #222831;
}

.button:hover {
    -fx-opacity: 0.9;
}

.button:pressed {
    -fx-translate-y: 2px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 5, 0, 0, 2);
}